{{- $related := first 3 (where (.Site.RegularPages.Related .) "Permalink" "ne" .Permalink) }}
{{- if not $related }}
  {{- $related = first 3 (where (where .Site.RegularPages "Permalink" "ne" .Permalink) "Type" "posts") }}
{{- end }}
{{- if $related }}
<div class="related-posts">
  <h3 class="related-posts-title">Posts relacionados</h3>
  <ul class="related-posts-list">
    {{- range $related }}
    <li class="related-posts-item">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      <span class="post-meta">{{ .ReadingTime }} min de leitura</span>
    </li>
    {{- end }}
  </ul>
</div>
{{- end }}
